<!DOCTYPE html>
<div style="width: 894px; height: 608px; position: relative">
  <div style="width: 834px; height: 79px; position: relative">
    <div
      style="
        width: 834px;
        height: 0px;
        left: 0px;
        top: 79px;
        position: absolute;
        border: 3px #2b7fe1 solid;
      "
    ></div>
    <div
      style="
        left: 10px;
        top: 0px;
        position: absolute;
        color: #707070;
        font-size: 48px;
        font-family: Helvetica Neue;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Reporte de actividades personal
    </div>
  </div>
  <br />
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div style="margin-right: 20px">
      <div
        style="
          color: #707070;
          font-size: 24px;
          font-family: Helvetica Neue;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        <%= nombre_empleado %>
      </div>
      <div
        style="
          color: #707070;
          font-size: 20px;
          font-family: Helvetica Neue;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Reporte del: <%= fecha_inicio %> al <%= fecha_fin %>
      </div>
    </div>
    <div
      style="
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3.5rem;
      "
    >
      <img
        style="max-width: 100%; max-height: 100%; border-radius: 50%"
        src="http://192.168.40.1:5985/WSSIA/api/uploads/empleado/<%= id_empleado %>"
      />
    </div>
  </div>
  <br />
  <% informes.forEach(informe => { %>
  <div style="width: 814px; height: 221px; position: relative">
    <div
      style="
        width: 814px;
        height: 0px;
        left: 0px;
        top: 221px;
        position: absolute;
        border: 1px #2b7fe1 solid;
      "
    ></div>
    <div
      style="
        width: 774px;
        height: 150px;
        left: 20px;
        top: 49px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        display: inline-flex;
      "
    >
      <div style="width: 150px; height: 150px; position: relative">
        <div
          style="
            width: 150px;
            height: 150px;
            left: 0px;
            top: 0px;
            position: absolute;
            border-radius: 10px;
            border: 1px #2b7fe1 solid;
          "
        ></div>
        <div
          style="
            left: 40px;
            top: 40px;
            position: absolute;
            color: #2b7fe1;
            font-size: 36px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <%= 100/informe.cantidad_tareas*informe.tareas_empleado %>%
        </div>
        <div
          style="
            left: 22px;
            top: 86px;
            position: absolute;
            color: #2b7fe1;
            font-size: 20px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <% if (informe.cantidad_tareas / informe.tareas_completadas * 100 ===
          100) { %> Completada <% } else { %> Sin Terminar <% } %>
        </div>
        <div
          style="
            left: 48px;
            top: 18px;
            position: absolute;
            color: #707070;
            font-size: 14px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          Progreso
        </div>
      </div>
      <div style="width: 150px; height: 150px; position: relative">
        <div
          style="
            width: 150px;
            height: 150px;
            left: 0px;
            top: 0px;
            position: absolute;
            border-radius: 10px;
            border: 1px #2b7fe1 solid;
          "
        ></div>
        <div
          style="
            left: 8px;
            top: 40px;
            position: absolute;
            color: #2b7fe1;
            font-size: 36px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <%= informe.tiempo_invertido %>
        </div>
        <div
          style="
            left: 22px;
            top: 86px;
            position: absolute;
            color: #2b7fe1;
            font-size: 20px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <% if (informe.cantidad_tareas / informe.tareas_completadas * 100 ===
          100) { %> Completada <% } else { %> Sin Terminar <% } %>
        </div>
        <div
          style="
            left: 48px;
            top: 18px;
            position: absolute;
            color: #707070;
            font-size: 14px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          Duración
        </div>
      </div>
      <div style="width: 150px; height: 150px; position: relative">
        <div
          style="
            width: 150px;
            height: 150px;
            left: 0px;
            top: 0px;
            position: absolute;
            border-radius: 10px;
            border: 1px #2b7fe1 solid;
          "
        ></div>
        <div
          style="
            left: 51px;
            top: 40px;
            position: absolute;
            color: #2b7fe1;
            font-size: 36px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <%= informe.tareas_empleado %>/<%= informe.cantidad_tareas %>
        </div>
        <div
          style="
            left: 27px;
            top: 86px;
            position: absolute;
            color: #2b7fe1;
            font-size: 20px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <% if (informe.cantidad_tareas / informe.tareas_completadas * 100 ===
          100) { %> Completada <% } else { %> Sin Terminar <% } %>
        </div>
        <div
          style="
            left: 56px;
            top: 18px;
            position: absolute;
            color: #707070;
            font-size: 14px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          Tareas
        </div>
      </div>
      <div style="width: 264px; height: 150px; position: relative">
        <div
          style="
            width: 264px;
            height: 150px;
            left: 0px;
            top: 0px;
            position: absolute;
            border-radius: 10px;
            border: 1px #2b7fe1 solid;
          "
        ></div>
        <div
          style="
            left: 25px;
            top: 50px;
            position: absolute;
            color: #2b7fe1;
            font-size: 24px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <%= informe.nombre_proyecto %>
        </div>
        <div
          style="
            left: 100px;
            top: 90px;
            position: absolute;
            color: #2b7fe1;
            font-size: 20px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          <%= informe.nombre_cliente %>
        </div>
        <div
          style="
            left: 105px;
            top: 18px;
            position: absolute;
            color: #707070;
            font-size: 14px;
            font-family: Helvetica Neue;
            font-weight: 300;
            word-wrap: break-word;
          "
        >
          Proyecto
        </div>
      </div>
    </div>
    <div
      style="
        left: 0px;
        top: 0px;
        position: absolute;
        color: black;
        font-size: 24px;
        font-family: Helvetica Neue;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      <%= informe.nombre_actividad %> - #<%= informe.id_actividad %>
    </div>
  </div>
</div>
<% }); %>
